* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#app-structure {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 10vh auto;
}

.edu-nsw-act-cursive {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#navbar {
  color: #de1a58;
  background-color: white;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  border-bottom: 3px solid #de1a58;
}

#navbar .menu {
  display: flex;
  align-items: center;
  height: 100%;
}

#navbar .menu button {
  height: 3rem;
  width: 5rem;
  border-radius: 10px;
  margin: 0px 5px;
  background-color: transparent;
  color: #de1a58;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-weight: 600;
  letter-spacing: 1px;
}

#navbar .menu button:hover {
  background-color: #de1a58;
  color: white;
}

#navbar hr {
  height: 20px;
}

#sidebar {
  width: 12.5rem;
  min-height: 90vh;
  padding: 1rem;
  grid-column: 1;
  /* background: #f4b342; */
  color: white;
  background: #f4b342;
  background: linear-gradient(
    0deg,
    rgba(244, 179, 66, 1) 0%,
    rgba(230, 110, 136, 1) 44%,
    rgba(222, 26, 88, 1) 100%
  );
}

#sidebar button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  border-radius: 10px;
  background-color: #f4b342;
  color: white;
  font-weight: 100;
  font-size: medium;
  border: 1px solid #f4b342;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3),
    -5px -5px 20px rgba(255, 255, 255, 0.5) inset;
}

#sidebar button:hover {
  background-color: white;
  font-weight: 600;
  color: #de1a58;
}

#sidebar hr {
  border: 3px solid #f4b342;
  background-color: #f4b342;
  margin: 1rem 0rem;
}

#sidebar .todo {
  margin-top: 1rem;
}

#sidebar .todo h3 {
  text-align: center;
  margin-bottom: 1rem;
}

#sidebar .todo-schedule {
  opacity: 0.7;
  font-size: 12px;
}

#sidebar .todo-data {
  padding-top: 1rem;
  border-bottom: 1px solid white;
}

#sidebar .addNote {
  z-index: 2;
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-color: #feeac9;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#sidebar .addNote.show {
  display: block;
  opacity: 1;
}

#sidebar .addNote form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#sidebar .addNote #addTitle {
  padding: 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18.72px;
  font-weight: 400;
}

#sidebar .addNote #addContent {
  padding: 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  overflow: auto;
  resize: none;
  height: 100%;
}

.addNote #addContent::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

#notepad {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  grid-column: 2;
}

.notes {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 100%;
  list-style-type: none;
}

.note {
  border-radius: 10%;
  padding: 1rem 1rem;
  margin: 1rem;
  width: 15rem;
  height: 15rem;
  background-color: #feeac9;
  cursor: pointer;
  perspective: 1000px;
  overflow: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.3s ease-in-out;
}

.note::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.note:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.note p {
  font-size: 12px;
}
